body,html {
  margin: 0;
  font: bold 14px/1.4 'Open Sans', arial, sans-serif;
  background: #fff;
  scroll-behavior: smooth scroll;
}
  ul { 
    margin: 150px auto 0; 
    padding: 0; 
    list-style: none; 
    display: table;
    width: 600px;
    text-align: center;
  }
  li { 
    display: table-cell; 
    position: relative; 
    padding: 15px 0;
  }
  a {
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    animation: fadeIn 1.5s;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
  }
  a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #000;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  a:hover:after { 
    width: 100%; 
    left: 0; 
  }
  @media screen and (max-height: 300px) {
      ul {
          margin-top: 40px;
      }
  }


.navbar {
    margin: -150px 0 5px 0; 
}

.me{
  font-family:'Open Sans', arial, sans-serboldif;
  margin-left: 5%;
  padding-top: 5px;
}

.presentation{
  font-weight: normal;
  word-break:normal;
}

.mab{
  text-align: center;
}

.text {
   font-size: 17px;
   margin: 3%;
   text-justify: inter-word ;
   padding-left: 528px;
   padding-right: 550px;
   border: 0em solid #000;
   animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.btn{
  border-radius: 3px;
  background: none;
  text-align: center;
}

.mario{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  
}